.todolist{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}


button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-btn{
   background-color: rgb(48, 44, 37);
}

.add-btn:hover{
  background-color: rgb(74, 115, 211);
}

.delete-btn{
  background-color: red;
  color: white;
}
.delete-btn:hover{
  background-color: darkred;
}

.up-btn{
  background-color: greenyellow;
  color: black;
}

.up-btn:hover{
  background-color: limegreen;
}

.down-btn{
  background-color: greenyellow;
  color: black;
}

.down-btn:hover{
  background-color: limegreen;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid;
  border-radius: 7px;
  color: black;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: aliceblue;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.delete-btn, .up-btn, .down-btn{
  padding: 8px 12px;
  margin-left: 10px;
}